.login-button
  background-color #ec6602
  border-radius 3px
  padding 1rem 1.5rem
  display flex
  margin 0.5rem
  justify-content center
  align-items center
  cursor pointer

  &:hover, &:active
    background-color #bd5202

  label
    color white