
.DraftEditor-root
  width 60rem
  margin 0 auto
  background transparent
  overflow auto

  span[data-offset-key]
    font-size 1rem

  #placeholder-as2di
    font-size 1rem

  .link-span
  .link-span span
    color #6565d9
    font-weight bold
    text-decoration underline

  .hashtag-span
  .hashtag-span span
    color #1DA1F2
    font-weight bold