.suggestions-dropdown
  position fixed
  background white
  top 0
  left 0
  box-shadow 0 0 10px 1px rgba(110, 90, 80, 0.5)
  z-index 5

  li
    padding 0.2rem 0.5rem
    list-style none

    &:hover
      background #888
      color white