.upload-notification
  animation fade-in 0.75s
  position fixed
  top 5rem
  left 1rem
  background-color #2c2334
  padding 0.5rem 1rem
  border-radius 0.25rem

  p
    color white
    font-size 0.75rem