.search-bar
  position relative

.results-list
  position absolute
  background white
  padding 0.5rem 1rem
  width 100%
  border-radius 0.25rem
  box-shadow 0 0 10px 1px #00000024
  font-size 0.85rem
