.page > div > div.profile
  display block
  .profile-header
    display flex
    justify-content center
    margin-bottom 2rem
    p
      padding 1rem
    svg
      border-radius: 50%;
      background: white;
      box-shadow: 0 0 10px 1px #e3d8d8;
  .profile-info
  .profile-statistics
    padding 1rem
    background white