.custom-page
  position relative
  width 100%

  section
    display flex
    flex-direction column
    align-items center

    .user-list
      width 100%

    .user
      background #fff
      padding 1rem
      margin 1rem 0
      box-shadow 0 0 8px 0 #c7b5b552
      display flex
      align-items center
      justify-content space-between

      .user-info
        display flex
        align-items center

      .user-actions svg
        margin 0 0.5rem
        cursor pointer

        path
          fill #69697b

        &:hover
          path
            fill black

      .profile-picture
        width 3.5rem
        height 3.5rem
        border-radius 2rem
        background black
        margin-right 1rem

        img
          border-radius 3.5rem