.page
  background transparent
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  padding 5rem 22rem
  position absolute
  z-index 4
  width 100%
  transition transform 0.5s ease

  section
    display flex
    max-width 40rem

    .sidebar-menu
      position fixed